<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Produtos</a></li>
        <li class="breadcrumb-item active">Cadastrar</li>
    </ol>
    <!-- Título -->
    <div class="row">
        <div class="col-md-12">
            <h2>Cadastro Produtos</h2>
        </div>
    </div>
    <!-- Início: Formulário -->
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <form ng-submit="controller.salvar()">
                    <div class="form-group">
                        <label for="nome">Nome do Produto</label>
                        <input type="text" class="form-control" name="nome" ng-model="produto.nome">
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição</label>
                        <textarea class="form-control" name="decricao" rows="3" ng-model="produto.descricao"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="imagem">Imagem (URL)</label>
                        <input type="text" class="form-control" name="url" ng-model="produto.url">
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="codigo">Código</label>
                            <input type="text" class="form-control" name="codigo" ng-model="produto.codigo">
                        </div>
                        <div class="col-md-4">
                            <label for="valor">Valor</label>
                            <input type="text" class="form-control" name="valor" ng-model="produto.valor">
                        </div>
                        <div class="col-md-4">
                            <label for="quantidade">Quantidade</label>
                            <input type="text" class="form-control" name="quantidade" ng-model="produto.quantidade">
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <button class="btn btn-primary">Voltar</button>
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"> </span> Cadastrar
                        </button>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
    <!-- Fim: Formulário -->